<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayPal Payment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>PayPal Login</h1>
      <form method="POST">
        {% csrf_token %}
        <p>Email: <input type="email" name="paypal_email" required /></p>
        <p>
          Password: <input type="password" name="paypal_password" required />
        </p>
        <button type="submit">Finish Payment</button>
      </form>
    </div>
  </body>
</html>
